/* ::::: http://images1.jyimg.com/w4/index_new/c/reset.css ::::: */

a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, label, legend, li, mark, menu, nav, ol, p, pre, progress, q, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, tr, ul, var, video { border: 0px none; margin: 0px; padding: 0px; }
html, body { font-size: 100%; height: 100%; }
b, strong { font-weight: 700; }
img { color: transparent; font-size: 0px; }
ol, ul { list-style: none outside none; }
li { display: list-item; }
body, button, input, select, textarea { font: 12px/1.5 Tahoma,Arial,宋体; color: rgb(51, 51, 51); }
input, select, textarea { font-size: 100%; }
th, td, caption { font-weight: normal; text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
.fn-clear:before, .fn-clear:after { content: ""; display: table; }
.fn-clear:after { clear: both; }
.fn-clear {  }
.fn-left, .fn-right { display: inline; }
.fn-left { float: left; }
.fn-right { float: right; }
.color333 { color: rgb(51, 51, 51); }
.color666 { color: rgb(102, 102, 102); }
.color999 { color: rgb(153, 153, 153); }
.color2C81D6 { color: rgb(44, 129, 214); }
.colorE7417F { color: rgb(231, 65, 127); }
.ui-link-underline a { text-decoration: underline; }
.ui-link-underline a:hover { text-decoration: underline; }
.ui-link-Nounderline a { text-decoration: none; }
.ui-link-Nounderline a:hover { text-decoration: underline; }
.ui-link-333toE7417F a { color: rgb(51, 51, 51); }
.ui-link-333toE7417F a:hover { color: rgb(231, 65, 127); }
.ui-link-999toE7417F a { color: rgb(153, 153, 153); }
.ui-link-999toE7417F a:hover { color: rgb(231, 65, 127); }
.ui-link-2C81D6toE7417F a { color: rgb(44, 129, 214); }
.ui-link-2C81D6toE7417F a:hover { color: rgb(231, 65, 127); }
.ui-link-E7417FtoE7417F a { color: rgb(231, 65, 127); }
.ui-link-E7417FtoE7417F a:hover { color: rgb(231, 65, 127); }
/* ::::: http://images1.jyimg.com/w4/index_new/c/index.css ::::: */

.ShadowA { position: relative; width: 123px; height: 123px; overflow: hidden; }
.ShadowA-bg { position: absolute; top: 3px; left: 3px; width: 120px; height: 120px; background: none repeat scroll 0% 0% rgb(238, 236, 236); }
.ShadowA img { position: absolute; top: 0px; left: 0px; z-index: 1; }
.ShadowB { position: relative; width: 93px; height: 113px; }
.ShadowB-bg { position: absolute; top: 3px; left: 3px; width: 90px; height: 110px; background: none repeat scroll 0% 0% rgb(238, 236, 236); }
.ShadowB img { position: absolute; top: 0px; left: 0px; z-index: 1; }
.IndexCommonTitle { width: 100%; height: 40px; background: none repeat scroll 0% 0% rgb(244, 244, 244); overflow: hidden; }
.ui-input-email { width: 118px; height: 16px; line-height: 16px; padding-left: 2px; border-width: 1px; border-style: solid; border-color: rgb(186, 186, 186) rgb(227, 227, 227) rgb(227, 227, 227) rgb(186, 186, 186); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; vertical-align: middle; color: rgb(153, 153, 153); }
.ui-input-Memberlogin { width: 181px; height: 24px; line-height: 24px; padding-left: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(200, 200, 200); vertical-align: middle; }
.more { margin-right: 13px; }
#head_login { margin-left: 2px; line-height: 30px; }
.ml10 { margin-left: 10px; }
.Indexcontent { width: 970px; margin: 0px auto; }
.Indexcontent h2 a { line-height: 40px; margin-left: 13px; font-size: 14px; font-weight: 700; }
.Indexcontent h2 b { line-height: 40px; margin-left: 13px; font-size: 14px; font-weight: 700; }
.flash { position: relative; height: 250px; width: 680px; margin-top: 10px; }
.flash .img { float: left; height: 250px; width: 680px; position: absolute; top: 0px; left: 0px; z-index: 1; }
.flash .img li, .flash .img li img { height: 250px; width: 680px; }
.flash .btn_table { position: absolute; right: 14px; bottom: 14px; width: 102px; z-index: 10; }
.flash .btn_table li { float: left; display: inline; }
.flash .btn_table li a { width: 9px; height: 9px; line-height: 9px; margin: 0px 4px; font-size: 0px; text-indent: -99999px; overflow: hidden; float: left; display: inline; cursor: pointer; background: url('../images/focus.png') no-repeat scroll 0% 0% transparent; }
.flash .btn_table li a.on { background: url('../images/focushover.png') no-repeat scroll 0% 0% transparent; }
.RegisterArea { margin-top: 10px; width: 278px; height: 248px; background: none repeat scroll 0% 0% rgb(249, 249, 249); border: 1px solid rgb(217, 217, 217); }
.IPOImg { margin-top: 30px; }
.ui-btn-IndexReg { margin: 30px auto 0px; width: 127px; }
.ui-btn-IndexReg a:link, .ui-btn-IndexReg a:visited, .ui-btn-IndexReg a:active { display: block; width: 127px; height: 41px; line-height: 41px; background: url('../images/bg_index.gif') no-repeat scroll 0px -202px transparent; text-align: center; font-size: 18px; text-decoration: none; color: rgb(255, 255, 255); font-family: 微软雅黑,"Microsoft YaHei" ! important; }
.ui-btn-IndexReg a:hover { background-position: -137px -202px; }
.IndexMember { margin-top: 12px; font-size: 14px; text-align: center; }
.Member-login { padding: 10px 0px 8px; font-family: 黑体; font-size: 30px; text-align: center; }
.Member-login-InputElement { padding-bottom: 12px; margin-left: 20px; }
.Member-login-InputElement .ui-input-Memberlogin { margin-left: 15px; }
.two-weeks-login { margin-left: 64px; line-height: 12px; }
.two-weeks-login input { margin: 0px 5px 0px 0px; padding: 0px; vertical-align: middle; }
.Member-login-btnArea { margin-top: 10px; margin-bottom: 20px; }
.ui-btn-MemberLogin { margin-left: 64px; display: inline-block; width: 82px; height: 31px; line-height: 31px; background: url('../images/index_sprite.png') no-repeat scroll -54px -170px transparent; color: rgb(255, 255, 255); text-align: center; border: 0px none; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: middle; cursor: pointer; }
.NotMember { margin-left: 64px; }
.WelcomeMemberArea { width: 204px; margin: 0px auto; }
.WelcomeMember-P { margin: 10px 0px; }
.WelcomeMember { font-size: 14px; }
.WelcomeMember-ul { width: 111px; }
.WelcomeMember-ul li { height: 22px; line-height: 22px; width: 101px; float: right; display: inline; }
.ui-btn-ComeintomyJY a:link, .ui-btn-ComeintomyJY a:visited, .ui-btn-ComeintomyJY a:hover { display: block; margin: 15px auto; width: 129px; height: 31px; line-height: 31px; background: url('../images/bg_index.gif') no-repeat scroll 0px -301px transparent; text-align: center; color: rgb(255, 255, 255); text-decoration: none; font-size: 14px; font-family: 微软雅黑,"Microsoft YaHei" ! important; }
.ui-btn-ComeintomyJY a:hover { background-position: -139px -301px; }
.Referral-service { text-align: center; }
.ShowHappinessArea { margin-top: 10px; width: 674px; height: 186px; padding: 2px; border: 1px solid rgb(217, 217, 217); }
.ShowHappinessArea h2 { background: url('../images/index_sprite.png') no-repeat scroll 70px -403px transparent; width: 80px; padding-right: 186px; }
.ui-tab-underBg { height: 28px; padding-top: 12px; width: 344px; overflow: hidden; }
.ui-tab-underBg li { float: left; display: inline; margin: 0px 18px; cursor: pointer; color: rgb(153, 153, 153); }
.ui-tab-underBg li.tabactive { float: left; display: inline; height: 14px; background: url('../images/tabhover.gif') no-repeat scroll center bottom transparent; padding-bottom: 10px; color: rgb(51, 51, 51); }
.Indexmore { height: 40px; line-height: 40px; }
.ui-tab-underBg-content { float: left; display: inline; width: 655px; margin: 10px 0px 0px 9px; }
.ui-tab-underBg-content ul { float: left; width: 655px; height: 123px; overflow: hidden; }
.ui-tab-underBg-content li { float: left; display: inline; margin-left: 8px; }
.ShadowA-Hover { width: 120px; height: 40px; z-index: 10; display: none; }
.ShadowA-HoverBg { width: 120px; height: 40px; position: absolute; left: 0px; bottom: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.5; }
.ShadowA-Hover-p { position: absolute; left: 5px; bottom: 2px; color: rgb(255, 255, 255); text-align: center; }
.ShadowA-Hover-p p { width: 115px; height: 18px; overflow: hidden; }
.mosaic-overlay { position: absolute; left: 0px; bottom: -40px; }
.colorccc { color: rgb(204, 204, 204); }
.XlnArea { margin-top: 10px; width: 274px; height: 186px; padding: 2px; border: 1px solid rgb(217, 217, 217); }
.XlnImg { margin: 10px auto 0px; width: 248px; }
.Xln-ul { width: 248px; margin: 8px auto 0px; }
.Xln-ul li { vertical-align: middle; width: 238px; padding: 3px 0px 3px 10px; height: 20px; line-height: 20px; background: url('../images/index_sprite.png') no-repeat scroll -147px -311px transparent; overflow: hidden; }
.MeetLove { margin-top: 10px; width: 274px; height: 416px; padding: 2px; border: 1px solid rgb(217, 217, 217); overflow: hidden; }
.MeetLove-block { width: 248px; padding: 32px 0px 12px; margin: 0px auto; border-bottom: 1px dotted rgb(204, 204, 204); }
.MeetLove-block-last { border-bottom: 0px none; }
.MeetLove-blockIcon a { display: block; position: absolute; left: 0px; top: 0px; width: 66px; height: 66px; text-indent: -9999px; overflow: hidden; }
.JY-stamp, .Diamonds-member, .VIP-member, .Honorable-member, .Standard-member { position: relative; background: url('../images/sprite_icon.png') no-repeat scroll 0px 0px transparent; padding-left: 82px; height: 80px; }
.Diamonds-member { background-position: 0px -106px; }
.VIP-member { background-position: 0px -212px; }
.MeetLove h3 { font-size: 14px; font-weight: 700; }
.MeetLove-block ul { margin-top: 6px; }
.MeetLove-block ul li { background: url('../images/index_sprite.png') no-repeat scroll -166px -176px transparent; padding-left: 10px; height: 20px; line-height: 20px; }
.FindLoverArea { margin-top: 10px; width: 674px; height: 888px; padding: 2px; border: 1px solid rgb(217, 217, 217); }
.IndexSearch { margin: 9px 0px 0px 10px; height: 23px; line-height: 23px; background: url('../images/index_sprite.png') no-repeat scroll -90px -354px transparent; padding-left: 12px; }
.IndexSearch li { float: left; display: inline; margin-left: 8px; height: 20px; line-height: 20px; }
.IndexSearch select { margin: 0px 3px; padding: 0px; height: 20px; }
.FindLover-btn a:link, .FindLover-btn a:visited, .FindLover-btn a:active { display: inline-block; width: 55px; height: 23px; line-height: 23px; background: url('../images/bg_index.gif') no-repeat scroll 0px -138px transparent; text-align: center; color: rgb(255, 255, 255); text-decoration: none; font-weight: 700; }
.FindLover-btn a:hover { background-position: -65px -138px; }
.FindLover-Modify a { margin-left: 13px; }
.ui-page-IndexSearch {  }
.ui-page-IndexSearch li { float: left; display: inline; }
.ui-page-IndexSearch li a { padding: 1px 4px; margin-left: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(220, 220, 220); vertical-align: middle; font-family: 宋体; text-decoration: none; color: rgb(51, 51, 51); }
.ui-page-IndexSearch .ui-page-IndexSearch-item-currnet a { background: none repeat scroll 0% 0% rgb(253, 238, 245); border: 1px solid rgb(231, 65, 127); color: rgb(231, 65, 127); }
.ui-page-IndexSearch .ui-page-fate {  }
.ui-page-IndexSearch .ui-page-fate a { padding: 4px 8px; }
.DiamondsMember a img { margin-top: 2px; }
.DiamondsMember a { display: inline-block; float: left; padding-left: 3px; cursor: pointer; }
.FindLover-cnt { width: 648px; margin: 0px auto; }
.FindLover-cnt-block-item { float: left; width: 298px; height: 114px; padding: 23px 0px; border-bottom: 1px dotted rgb(204, 204, 204); }
.FindLover-cnt-block-item-last { border-bottom: 0px none; }
.User-data { margin-left: 15px; width: 190px; }
.User-name { font-size: 14px; font-weight: 700; }
.Brief-introduction { height: 30px; line-height: 15px; margin-top: 5px; overflow: hidden; }
.Inner-soliloquy { height: 34px; line-height: 17px; margin-top: 6px; overflow: hidden; }
.View-details { margin-right: 10px; }
.Subscribe { background: url('../images/index_sprite.png') no-repeat scroll 0px -383px transparent; margin: 6px auto 0px; width: 250px; height: 23px; line-height: 23px; padding-left: 193px; }
.Subscribe-b { background: url('../images/index_sprite.png') no-repeat scroll 0px -383px transparent; margin: 6px auto; width: 60px; height: 23px; padding-left: 222px; font-size: 14px; font-weight: 700; }
.Subscribe-c { background: url('../images/index_sprite.png') no-repeat scroll 0px -383px transparent; margin: 6px auto; width: 182px; height: 23px; padding-left: 0px; }
.Subscribe-btn a:link, .Subscribe-btn a:visited, .Subscribe-btn a:active { display: inline-block; float: left; margin-left: 19px; background: url('../images/bg_index.gif') no-repeat scroll 0px -170px transparent; width: 107px; height: 23px; line-height: 23px; text-align: center; color: rgb(255, 255, 255); font-weight: 700; text-decoration: none; }
.Subscribe-btn a:hover { background-position: -117px -170px; }
.Subscribe .ui-input-email { float: left; display: inline; margin-top: 2px; }
.FindLover-cnt-ul-right .ShadowB, .FindLover-cnt-block-itemB .ShadowB { margin-left: 52px; }
.FindLover-cnt-allul { width: 648px; height: 804px; margin: 0px auto; }
.FindLover-cnt-block-itemB { width: 350px; }
.Love-escortArea { margin-top: 10px; width: 274px; height: 245px; padding: 2px; border: 1px solid rgb(217, 217, 217); }
.Love-escor { background: url('../images/bg_index.gif') no-repeat scroll 0px 2px transparent; padding-left: 47px; margin: 17px 0px 0px 15px; position: relative; }
.Love-escorIcon a { display: block; position: absolute; top: 0px; left: 0px; width: 35px; height: 36px; text-indent: -9999px; overflow: hidden; }
.Love-escor h3 { font-weight: 700; }
.Love-escor p { margin-top: 8px; }
.Love-escor-bgb { background-position: 0px -44px; }
.Love-escor-bgc { background-position: 0px -90px; }
.IndexAd { margin-top: 10px; }
.MediaArea { margin-top: 10px; width: 274px; height: 239px; padding: 2px; border: 1px solid rgb(217, 217, 217); }
#ifocus { width: 246px; height: 168px; margin: 15px auto 0px; position: relative; }
#ifocus_pic { display: inline; position: relative; float: left; width: 246px; height: 168px; border: 1px solid rgb(220, 220, 220); overflow: hidden; }
#ifocus_piclist { position: absolute; left: 0px; top: 0px; }
#ifocus_piclist li { width: 246px; height: 168px; overflow: hidden; }
#ifocus_piclist img { width: 246px; height: 168px; }
#ifocus_btn { position: absolute; right: 4px; top: 153px; width: 61px; height: 9px; overflow: hidden; }
#ifocus_btn li { float: left; display: inline-block; width: 9px; height: 9px; margin: 0px 4px; cursor: pointer; text-indent: -9999px; }
#ifocus_btn .current { background: url('../images/focushover_001.png') no-repeat scroll 0% 0% transparent; }
#ifocus_btn .normal { background: url('../images/focus.png') no-repeat scroll 0% 0% transparent; }
#ifocus_opdiv { position: absolute; left: 0px; bottom: 0px; width: 246px; height: 25px; line-height: 25px; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.5; }
#ifocus_tx { position: absolute; left: 8px; bottom: 0px; color: rgb(255, 255, 255); font-weight: 700; }
#ifocus_tx .normal { display: none; }
#ifocus_tx ul li { width: 170px; height: 25px; line-height: 25px; overflow: hidden; }
.Attention { margin-top: 10px; width: 278px; height: 26px; line-height: 26px; border: 1px solid rgb(217, 217, 217); text-align: center; }
.Attention span { display: inline-block; float: left; margin-left: 45px; }
.Attention p { float: left; display: inline; height: 16px; }
.Attention a img { margin: 3px 3px 0px; vertical-align: top; line-height: 26px; }
.IndexBottom { margin-top: 10px; width: 968px; height: 182px; background: none repeat scroll 0% 0% rgb(249, 249, 249); border: 1px solid rgb(217, 217, 217); }
.IndexBottom dl { float: left; display: inline; width: 110px; margin-top: 22px; margin-left: 43px; }
.IndexBottom dt { margin-left: 5px; font-family: "Microsoft YaHei",微软雅黑,宋体; font-size: 16px; }
.IndexBottom dd { margin-top: 4px; }
.IndexBottom dd span { display: block; margin-top: 4px; }
.IndexBottom dd span a { background: url('../images/index_sprite.png') no-repeat scroll -170px -336px transparent; padding-left: 18px; }
.IndexBottom dd span a:hover { background: url('../images/index_sprite.png') no-repeat scroll -141px -316px transparent; }
.IndexBottom .aboutjy { margin-left: 68px; }
.IndexBottom .IndexBottom-help { margin-left: 112px; }
#common_footer a { color: rgb(102, 102, 102); text-decoration: none; }
#common_footer a:hover { color: rgb(231, 65, 127); text-decoration: underline; }
/* ::::: http://images1.jyimg.com/w4/index_new/c/index-POP.css ::::: */

#pop_register_form { width: 660px; height: 280px; }
#bgdiv { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.5; z-index: 10010; }
.IndexPop-pngb { position: absolute; top: 156px; left: -13px; background: url('../images/pop_png2.png') no-repeat scroll 0% 0% transparent; width: 64px; height: 36px; z-index: 10; }
.IndexPop-pnga-man { position: absolute; top: -52px; left: 444px; background: url('../images/pop_png3.png') no-repeat scroll 0% 0% transparent; width: 195px; height: 87px; }
.IndexPop-wrapper { position: absolute; top: 100px; left: 100px; width: 685px; background: url('../images/layer_bg.png') repeat scroll left top transparent; padding: 3px; z-index: 100000; }
.IndexPop-content { position: relative; width: 683px; height: 572px; padding: 1px; background: url('../images/index-popbg.gif') no-repeat scroll left bottom rgb(255, 255, 255); }
.IndexPop-top { width: 683px; height: 30px; background: none repeat scroll 0% 0% rgb(242, 125, 155); }
.IndexPop-top a { width: 15px; height: 15px; float: right; display: inline; margin: 7px; background: url('../images/pop_close.gif') no-repeat scroll 0% 0% transparent; text-indent: -9999px; font-size: 0px; }
.IndexPop-top a:hover { background-position: 0px -15px; }
.IndexPop-cnt-top { width: 657px; height: 233px; background: none repeat scroll 0% 0% rgb(245, 245, 245); margin: 15px auto; }
.IndexPop-PersonalInformation { width: 374px; padding-left: 256px; }
.IndexPop-PersonalInformation h2 { margin-top: 20px; font-size: 20px; font-weight: 700; }
.IndexPop-PersonalInformationBottom { margin-top: 10px; padding-top: 8px; width: 374px; border-top: 1px dotted rgb(153, 153, 153); }
.IndexPop-PersonalInformationBottom h3 { font-size: 14px; font-weight: 700; }
.IndexPop-PersonalInformationBottom p { margin-top: 3px; width: 374px; height: 130px; line-height: 26px; overflow: hidden; }
.IndexPop-Album { position: absolute; top: -33px; left: 10px; }
.IndexPop-Album-big { width: 235px; height: 234px; background: url('../images/pop_pngbg.png') no-repeat scroll 0% 0% transparent; }
.IndexPop-Album-big-p { width: 235px; height: 226px; display: table; text-align: center; overflow: hidden; }
.IndexPop-Album-big span { display: table-cell; vertical-align: middle; }
.IndexPop-Album-big a img {  }
.IndexPop-Album-small { width: 232px; height: 52px; margin-top: 12px; }
.IndexPop-Album-small td { width: 50px; height: 50px; border: 1px solid rgb(187, 187, 187); text-align: center; vertical-align: middle; }
.IndexPop-User-profile { font-size: 12px; font-weight: 700; }
/* ::::: http://images1.jyimg.com/w4/advert/c/jy_ad.css ::::: */

#jycm_top p, #jycm_top ul, #jycm_head p, #jycm_head ul { margin: 0px; padding: 0px; }
#jycm_top img, #jycm_head img { border: medium none; }
#jycm_top .jycm_top_icon { background: url('../images/jycm_top_icon.png') no-repeat scroll 0% 0% transparent; }
#jycm_top { background: url('../images/jycm_top.png') repeat-x scroll left top transparent; height: 22px; font-size: 12px; color: rgb(102, 102, 102); border-top: 1px solid rgb(237, 237, 237); border-bottom: 1px solid rgb(235, 235, 235); position: relative; font-family: '宋体'; }
#jycm_top div.w970 { width: 970px; margin: 0px auto; height: 22px; padding: 1px 0px 0px; line-height: 22px; }
#jycm_top div div p.jycm_top_vline { padding: 0px 8px; color: rgb(222, 222, 222); }
#jycm_top .jycm_top_login { display: inline; float: left; }
#jycm_top .jycm_top_login p { display: inline; float: left; margin: 0px; height: 22px; line-height: 22px; padding: 0px 3px 0px 6px; color: rgb(102, 102, 102); }
#jycm_top .jycm_top_zh span, p.jycm_top_mm span { display: inline; float: left; color: rgb(102, 102, 102); }
#jycm_top .jycm_top_zh input, p.jycm_top_mm input { padding: 0px 0px 0px 2px; width: 98px; height: 14px; line-height: 14px; display: inline; float: left; border-width: 1px; border-style: solid; border-color: rgb(186, 186, 186) rgb(227, 227, 227) rgb(227, 227, 227) rgb(186, 186, 186); margin: 3px 0px 0px 8px; color: rgb(51, 51, 51); }
#jycm_top .jycm_top_login p.jycm_top_zddl { padding: 0px 6px; }
#jycm_top .jycm_top_zddl input { display: inline; float: left; margin: 4px 5px 0px 0px; padding: 0px; }
#jycm_top .jycm_top_btn_dl { display: inline; float: left; margin: 1px 0px 0px; width: 42px; height: 19px; line-height: 16px; text-align: center; color: rgb(255, 255, 255); background: url('../images/jycm_top_btn_dl.png') no-repeat scroll 0% 0% transparent; border: medium none; cursor: pointer; padding: 0px 0px 2px; }
#jycm_top .jycm_top_login2 span { display: inline; float: left; padding: 0px 0px 0px 5px; }
#jycm_top .jycm_top_login2 a { display: inline; float: left; margin: 3px 7px 0px 0px; }
#jycm_top .jycm_top_login2 a img { float: left; border: medium none; }
#jycm_top .jycm_top_reg a { color: rgb(102, 102, 102); text-decoration: underline; }
#jycm_top .jycm_top_wel { display: inline; float: left; }
#jycm_top .jycm_top_wel p { display: inline; float: left; margin: 0px; padding: 0px; }
#jycm_top .jycm_top_wel p a.color_e7417f { color: rgb(231, 65, 127); text-decoration: underline; }
#jycm_top .jycm_top_wel p a.color_666 { color: rgb(102, 102, 102); }
#jycm_top .jycm_top_right { display: inline; float: right; }
#jycm_top .jycm_top_right p { display: inline; float: left; margin: 0px; padding: 0px; }
#jycm_top .jycm_top_right p a { color: rgb(102, 102, 102); text-decoration: none; }
#jycm_top .jycm_top_right p a:hover { text-decoration: underline; }
#jycm_top .jycm_top_right p.jycm_top_collect { padding: 0px 0px 0px 22px; background-position: 0px -22px; }
#jycm_top .jycm_top_right p.jycm_top_phone { padding: 0px 0px 0px 13px; background-position: 0px -44px; }
#jycm_top .jycm_top_right p.jycm_top_jx { padding: 0px 0px 0px 19px; background-position: 0px -66px; }
#jycm_head {  }
#jycm_head .jycm_head_top { width: 970px; height: 70px; margin: 0px auto; }
#jycm_head .jycm_head_top h1.logo { display: inline; float: left; margin: 0px; padding: 0px; width: 215px; height: 70px; overflow: hidden; }
#jycm_head .jycm_head_selectCity { display: inline; float: left; position: relative; width: 60px; height: 70px; z-index: 2; }
#jycm_head .jycm_head_clickCity { width: 58px; height: 40px; overflow: hidden; font-size: 12px; margin-top: 20px; }
#jycm_head .jycm_head_clickCity p { width: 58px; height: 20px; line-height: 20px; white-space: nowrap; text-align: center; overflow: hidden; }
#jycm_head .jycm_head_clickCity p.jycm_head_nowCity { background: url('../images/jycm_head_point.png') no-repeat scroll right center transparent; }
#jycm_head .jycm_head_clickCity a { color: rgb(102, 102, 102); text-decoration: none; }
#jycm_head .jycm_head_clickCity a:hover { color: rgb(231, 65, 127); text-decoration: underline; }
#jycm_head .jycm_head_showCity { width: 602px; border: 1px solid rgb(204, 204, 204); background: url('../images/jycm_city_map.jpg') no-repeat scroll right bottom rgb(255, 255, 255); position: absolute; top: 62px; left: 0px; font-size: 14px; color: rgb(51, 51, 51); z-index: 99999; display: none; }
#jycm_head .jycm_city_close { height: 20px; line-height: 20px; padding: 5px 10px 5px 0px; }
#jycm_head .jycm_city_close a { float: right; line-height: 20px; font-size: 12px; color: rgb(102, 102, 102); text-decoration: none; background: url('../images/jycm_city_close.gif') no-repeat scroll 0px 4px transparent; padding: 0px 0px 0px 15px; }
#jycm_head .jycm_city_close a:hover { color: rgb(231, 65, 127); text-decoration: underline; }
#jycm_head .jycm_head_showCity dl { overflow: hidden; margin: 0px; padding: 0px 15px; line-height: 40px; }
#jycm_head .jycm_head_showCity dt { width: 65px; text-align: right; height: 40px; overflow: hidden; white-space: nowrap; display: inline; float: left; font-weight: bold; }
#jycm_head .jycm_head_showCity dd { display: inline; float: left; width: 505px; margin: 0px; }
#jycm_head .jycm_head_showCity dd p { overflow: hidden; }
#jycm_head .jycm_head_showCity dd p span { display: inline; float: left; width: 55px; height: 40px; overflow: hidden; white-space: nowrap; cursor: pointer; }
#jycm_head .jycm_head_ad { width: 690px; height: 70px; display: inline; float: right; overflow: hidden; background: url('../images/jycm_head_ad.png') no-repeat scroll right bottom transparent; }
#jycm_head .jycm_head_navBg { height: 35px; background: none repeat scroll 0% 0% rgb(240, 59, 110); }
#jycm_head .jycm_head_nav { width: 970px; height: 35px; line-height: 34px; margin: 0px auto; font-size: 14px; }
#jycm_head .jycm_head_nav ul { float: left; list-style-type: none; }
#jycm_head .jycm_head_nav ul li { display: inline; float: left; }
#jycm_head .jycm_head_nav ul li p { display: inline; float: left; padding: 0px 0px 0px 5px; }
#jycm_head .jycm_head_nav ul li p span { display: inline; float: left; padding: 1px 5px 0px 0px; }
#jycm_head .jycm_head_nav ul li a { color: rgb(255, 255, 255); font-size: 14px; text-decoration: none; font-family: '宋体'; padding: 0px 10px; }
#jycm_head .jycm_head_nav ul li a:hover { text-decoration: underline; }
#jycm_head .jycm_head_nav ul li.jycm_head_nav_cur { background: url('../images/jycm_head_nav_con.png') repeat-x scroll 0% 0% transparent; }
#jycm_head .jycm_head_nav ul li.jycm_head_nav_cur p { background: url('../images/jycm_head_nav_left.png') no-repeat scroll left top transparent; }
#jycm_head .jycm_head_nav ul li.jycm_head_nav_cur p span { background: url('../images/jycm_head_nav_right.png') no-repeat scroll right top transparent; }
#jycm_head .jycm_head_navOthor { display: inline; float: right; height: 35px; line-height: 34px; font-size: 0px; }
#jycm_head .jycm_head_navOthor a { color: rgb(255, 255, 255); font-size: 12px; font-family: '宋体'; text-decoration: none; padding: 0px 15px; }
#jycm_head .jycm_head_navOthor a.jycm_head_nav_azx { padding: 0px 0px 0px 15px; }
#jycm_head .jycm_head_navOthor a:hover { text-decoration: underline; }
#jycm_top, #jycm_head { text-align: center; }
#jycm_top div.w970, #jycm_head div.jycm_head_top, #jycm_head div.jycm_head_nav { text-align: left; }
#jycm_top .jycm_top_btn_dl {  }
#jycm_top .jycm_top_login p.jycm_top_zddl {  }
#jycm_top .jycm_top_zddl input {  }
/* ::::: http://images1.jyimg.com/w4/login/c/popupLogin_20110321.css?d=0701 ::::: */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td { margin: 0px; padding: 0px; border: 0px none; }
input { font: 12px/1.5em Verdana,"Lucida Grande",Arial,Helvetica,sans-serif; }
ol, ul, li { list-style: none outside none; }
.clear {  }
.clear:after { display: block; content: "."; overflow: hidden; clear: both; height: 0px; line-height: 0; font-size: 1px; visibility: hidden; }
.red { color: rgb(255, 0, 0); line-height: 27px; }
a:active { border: medium none; }
.text_pop_login { padding: 5px 0px 0px 36px; }
.text_pop_login .no_reg { width: 150px; line-height: 30px; font-size: 14px; color: rgb(3, 3, 3); font-weight: 600; }
.text_pop_login .closer { width: 9px; height: 8px; font-size: 0px; line-height: 0; background: url('../images/closer.jpg') no-repeat scroll center center transparent; float: right; margin-right: 5px; display: inline; padding: 5px; }
.login_box dt { width: 80px; float: left; height: 32px; line-height: 32px; font-size: 14px; color: rgb(3, 3, 3); }
.login_box dd { width: 200px; float: left; height: 32px; line-height: 32px; font-size: 14px; color: rgb(3, 3, 3); }
.login_box dd .texts { width: 190px; height: 20px; line-height: 20px; border-right: 1px solid rgb(227, 233, 239); border-width: 1px; border-style: solid; border-color: rgb(171, 173, 179) rgb(227, 233, 239) rgb(227, 233, 239); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 12px; color: rgb(51, 51, 51); }
.check_g { vertical-align: middle; }
.gray { color: rgb(54, 54, 54); font-size: 12px; }
.login_btn { display: inline; width: 95px; height: 30px; overflow: hidden; text-indent: -99999em; line-height: 30px; float: left; background: url('../images/btn_01.png') no-repeat scroll 0px -56px transparent; text-align: center; color: rgb(92, 94, 94); text-decoration: none; font-size: 14px; font-weight: bold; border: medium none; cursor: pointer; }
.login_btn:hover { background-position: -104px -56px; }
.forget_pw { display: inline; padding: 0px 0px 0px 10px; height: 25px; float: left; line-height: 25px; font-size: 12px; color: rgb(7, 111, 167); text-decoration: underline; }
.forget_pw:hover { text-decoration: underline; }
.alert_bg2 { width: 514px; height: 285px; background: url('../images/alert_bg2.jpg') repeat-x scroll left top rgb(255, 255, 255); margin-top: 3px; margin-left: 3px; text-align: left; left: 0px; top: 0px; }
.alert_left { width: 280px; float: left; background: url('../images/y_ling.jpg') no-repeat scroll right top transparent; padding: 0px 20px 10px; }
.alert_right { width: 194px; float: right; background: url('../images/jy_bg.jpg') no-repeat scroll right bottom transparent; padding-bottom: 105px; }
a.reg_bg { display: block; width: 145px; height: 48px; line-height: 48px; background: url('../images/btn_01.jpg') no-repeat scroll left top transparent; margin: 10px auto 23px; text-align: center; font-family: 'microsoft yahei'; font-size: 20px; color: rgb(255, 255, 255); text-shadow: 0px 0px 1px rgb(129, 171, 184); text-decoration: none; }
a.reg_bg:hover { background-position: -154px 0px; }
.alert_bg2 {  }
.alert_bg2 {  }
* { margin: 0px; padding: 0px; }
.winpophead { width: 400px; height: 280px; margin: 0px auto; overflow: hidden; font-size: 12px; font-family: Arial,SimSun; color: rgb(99, 99, 99); }
.winpophead b { height: 1px; font-size: 1px; overflow: hidden; display: block; background: none repeat scroll 0% 0% rgb(255, 255, 255); clear: both; }
.winpophead .bzt_l1 { margin: 0px 2px; }
.winpophead .bzt_l2 { margin: 0px 1px; }
.winpophead_box { width: 400px; height: 274px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.winpophead_in { width: 394px; height: 271px; margin: 0px auto; border-bottom: 3px solid rgb(232, 118, 178); background: url('../images/bg100804_02.gif') repeat-x scroll 0px -100px rgb(232, 118, 178); }
.winpophead_t { width: 374px; height: 30px; margin: 0px auto; overflow: hidden; line-height: 30px; color: rgb(255, 255, 255); font-weight: bold; }
.winpophead_c { width: 388px; height: 241px; margin: 0px auto; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 253, 253); }
.winpophead_c p { width: 360px; margin: 20px auto 0px; line-height: 22px; text-align: center; font-size: 14px; }
.winpophead_c p.p_t { font-weight: bold; color: rgb(188, 0, 115); }
.winpophead_c p.p_c { text-align: left; margin-top: 10px; font-size: 12px; }
.winpophead_c p a, .winpophead_c p a:hover { color: rgb(188, 0, 115); text-decoration: underline; }
.IndexPop-Album-big-p { position: relative; }
.IndexPop-Album-big-p .box { position: absolute; left: 0px; top: 8px; }
.s_img_box, .b_img_box { overflow: hidden; position: relative; left: 0px; top: 0px; }
.s_img_box img, .b_img_box img { position: absolute; left: 0px; top: 0px; }
.s_img_box { width: 50px; height: 50px; }
.b_img_box { width: 210px; height: 210px; margin-left: 13px; display: block; }
/* ::::: http://images1.jyimg.com/w4/nm/c/layer.css ::::: */

.layerTable { width: 591px; height: 337px; background: url('../images/tablelayerbg.gif') repeat scroll 0% 0% transparent; margin: 0px auto; position: absolute; z-index: 1102; top: 30%; left: 30%; }
.layerTableTop { height: 30px; overflow: hidden; }
a.layerTableClose:link, a.layerTableClose:hover, a.layerTableClose:active, a.layerTableClose:visited { width: 60px; height: 30px; text-decoration: none; display: block; float: right; }
.layerTableBody { padding: 230px 0px 0px 280px; }
a.layerTableButton:link, a.layerTableButton:active, a.layerTableButton:visited { width: 167px; height: 46px; display: block; background: url('../images/tablelayerbotton.gif') no-repeat scroll 0px 0px transparent; }
a.layerTableButton:hover { background: url('../images/tablelayerbotton.gif') no-repeat scroll 0px -46px transparent; }
a.layerTableLink:link, a.layerTableLink:hover, a.layerTableLink:active, a.layerTableLink:visited { text-decoration: underline; color: rgb(198, 228, 245); margin-left: 15px; }
.tixingText { width: 968px; background: none repeat scroll 0% 0% rgb(254, 255, 229); border: 1px solid rgb(249, 242, 167); margin: 0px auto; height: 24px; line-height: 24px; overflow: hidden; }
.tixingTextdiv { float: left; width: 940px; text-align: center; }
a.tixingTextClose:link, a.tixingTextClose:active, a.tixingTextClose:visited { width: 20px; height: 23px; display: block; background: url('../images/tixingtextclose.jpg') repeat scroll 0% 0% transparent; float: right; }
a.tixingTextClose:hover { background: url('../images/tixingtextclose2.jpg') repeat scroll 0% 0% transparent; }
* { padding: 0px; margin: 0px; }
.hf_wapper { width: 950px; margin: 0px auto; clear: both; font-family: SimSun,Arial,Helvetica,sans-serif; }
.hf_wapper img, .hf_wapper img a { border: medium none; }
#common_footer { width: 950px; font-size: 12px; padding: 20px 0px; text-align: center; line-height: 2; color: rgb(99, 99, 99); }
#common_footer p { text-align: center; }
#common_footer p a { margin: 0px 8px; padding: 0px; color: rgb(99, 99, 99); text-decoration: none; }
#common_footer p a:hover { margin: 0px 8px; color: rgb(231, 65, 127); text-decoration: underline; }
#common_footer p .bot_link_none:hover { color: rgb(99, 99, 99); text-decoration: none; }
