<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yixianqianTest</display-name>
  
  <!-- javamelody监控配置开始 -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<!-- javamelody监控配置结束 -->
  <!-- URL 解析器开始 -->
	<filter>
		<filter-name>RestFilter</filter-name>
		<filter-class>com.bp.rest.RestFilter</filter-class>
		<init-param>
			<param-name>scanPackage</param-name>
			<param-value>com.bp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RestFilter</filter-name>
		<url-pattern>/bp/*</url-pattern>
	</filter-mapping>
	
	

</web-app>